body{
    height:100%;
}
.contain {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -38px;
}

.contain:after {
    content: "";
    display: block;
}

 .footer, .contain:after {
        height: 38px;
    }

.footer {
    color: #6f8193;
    width: 140px;
    padding-left: 15px;
}


.verticalLine {
    border-left: 1px solid #e8eaec;   
    position: absolute;
    top:210px;
    bottom: 0px;
    left: 50%;
}

@media (max-width: 464px) {
    .verticalLine {
        display: none;
    }
}