body{
    height:100%;
}
.footer {
    height: 80px;
    color: #6f8193;
    width: 140px;
   padding-left: 15px;
   position:relative;
   bottom:20px;
}
.vertical#container {
    position: fixed;
    left: 160px;
    top: 0px;
    bottom: 0px;
    right: 0px;
}
.translateTextSource, .contain {
    height: 100%;
}
.viewarea {
    position: relative;
    height: 100%;
    padding-bottom: 220px;
}

.verticalLine {
    border-left: 1px solid #e8eaec;
    position: absolute;
    top: 208px;
    bottom: 0px;
    left: 50%;
}

@media (max-width: 464px) {
    .verticalLine {
        display: none;
    }
}