<div class="restricted landingBackground aboutBlock">
    <div class="section white_section">
        <div class="container">
            <div class="row white_top">
                <h2 class="lang_text info_heading">Atsauksmes</h2>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container article">
            <div class="row">
                <div class="col-xs-12">
                    <div style="margin-top: 16px; position: relative; overflow: hidden; padding-top: 100%;">
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfhi1u8lX-GUodVT7mpg1aObjlkAMK1PJvXVcjTrvmGyWXPrA/viewform?embedded=true" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;" frameborder="0" marginheight="0" marginwidth="0">Notiek ielāde...</iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
