<div style="height:100%">
    <div style="height:100%; margin: 0">
        <div id="webWidget" class="translator-website" style="height: 100%;  width: 100%">
            <div class="ui">
                <div class="container">
                    <div class="row">
                        <div class="col col-xs-12">
                            <div class="ui-wrapper">
                                <div class="main-wrapper">
                                    <div class="main">
                                        <button id="web_refresh_button" class="btn btn-green icon icon-home web_button" type="button" title="{{ websiteHasBeenInitiated() ? ('WEB_REFRESH' | translate) : ('WEB_RETURN' | translate)}}"></button>
                                        <input id="url" class="url form-control" type="text" placeholder="{{ 'WEB_PLACEHOLDER' | translate }}" autofocus ng-model="website.url">
                                        <button id="web_translateButton" class="btn btn-green icon icon-search web_button loadButton" type="button" data-title="loadButton"></button>
                                        <a href="javascript:;" class="btn btn-green-dark translateButton hide" data-text="translateButton" data-title="translateButton"></a>
                                        <a href="javascript:;" class="btn btn-green-dark cancelButton hide" data-text="cancelButton" data-title="cancelButton"></a>
                                        <a href="javascript:;" class="btn btn-green-dark restoreButton hide" data-text="restoreButton" data-title="restoreButton"></a>
                                    </div>
                                    <div class="widget">
                                        <div class="translateContainerHeader hide">
                                            <div class="LanguageSelect">
                                                <div class="translateLanguageContainer">
                                                    <div id="web_source_lang_div" class="translate_column_height web_transl_types">
                                                        <div data-text="sourceSystem" class="translateSourceSystemLabel"></div>
                                                        <ul class="popSourceLangs"></ul>
                                                        <select id="web_source_lang" class="translateSourceLang hide"></select>
                                                    </div>
                                                    <div id="web_swap_language_div" class="translate_column_height web_transl_types">
                                                        <a data-title="swapLanguage" id="webSwapLanguage" class="swapLanguage hide"></a>
                                                    </div>
                                                    <div id="web_target_lang_div" class="translate_column_height web_transl_types">
                                                        <div data-text="targetSystem" class="translateTargetSystemLabel"></div>
                                                        <ul class="popTargetLangs"></ul>
                                                        <select id="web_target_lang" class="translateTargetLang hide"></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nav">
                                    <a class="item" href="/?random-for-reload=1#/text">
                                        <span class="shortened">{{ 'TEXT_SHORT' | translate }}</span>
                                        <span class="full-length">{{ 'TEXT' | translate }}</span>
                                    </a>
                                    <a class="item" href="/?random-for-reload=2#/document">
                                        <span class="shortened">{{ 'DOC_SHORT' | translate }}</span>
                                        <span class="full-length">{{ 'DOC' | translate }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="section" id="web_section">
                <div class="web_container">
                    <div class="row" id="web_menu">
                        <div id="web_main" class="col-sm-9 col-xs-12">
                            <div id="address" class="input-group">
                                <span class="input-group-btn">
                                    <button id="web_refresh_button" type="button" class="btn btn-default web_button" title="{{ websiteHasBeenInitiated() ? ('WEB_REFRESH' | translate) : ('WEB_RETURN' | translate)}}"></button>
                                </span>
                                <input type="text"
                                       id="url"
                                       class="form-control url"
                                       placeholder="{{ 'WEB_PLACEHOLDER' | translate }}"
                                       ng-model="website.url"
                                       required focus-on="website.focus" />
                                <span class="input-group-btn input-space">
                                    <button id="web_translateButton" class="btn btn-default web_button loadButton button" data-title="loadButton"></button>
                                </span>
                            </div>


                        </div>
                        <div id="web_transl_types" class="col-sm-2 hidden-xs no_padding_left no_padding_right">
                            <ul class="no_padding_left">
                                <li>
                                    <a id="web_translation_type_text" href="/?random-for-reload=1#/text" ng-class="{ active: isActive('text') }" title="{{ 'TEXT' | translate }}" class="transl_text"></a>
                                </li>
                                <li>
                                    <a href="/?random-for-reload=2#/document" ng-class="{ active: isActive('text') }" title="{{ 'DOC' | translate }}" class="transl_document"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>-->
            <!--<div class="systemsLoading"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>-->
            <div id="websiteFrameContainer">
                <iframe id="websiteFrame" name="websiteFrame" src="about:blank" frameborder="0"></iframe>
            </div>

            <!--<div id="web_links_container" class="container no_padding_left no_padding_right">
                <div id="websiteLinks">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 no_padding_left no_padding_right">
                            <p id="web_links_about">{{ 'WEB_EXAMPLES' | translate }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-6 no_padding_left no_padding_right" ng-repeat="sample in web_samples">
                            <div class="sample_first_section">
                                <h1><a href="" ng-click="updateWebsite(sample.url);">{{sample.title}} <span class="glyphicon glyphicon-chevron-right"></span></a></h1>
                                <p><span ng-bind="(language === languages[1] && sample.description_ee) || (sample.description)"></span></p>
                            </div>
                            <div class="sample_second_section">
                                <a href="" ng-click="updateWebsite(sample.url);">
                                    <div style="background: {{sample.image}}" class="sample_logo"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>