<div class="restricted">
    <h2 style="margin-top:50px;">About the project</h2>

    <article style="max-width:800px;">
        <p>&nbsp;</p>
        <p>
            Translate 2015 is based on a MT system developed for the Latvian public sector. The system was customized for public sector documentation – such as legislative acts and e-services documents – and provides translations between Latvian, English, and Russian.
        </p>
        <p>&nbsp;</p>
        <p>
            The Latvian public sector’s MT system is integrated into various e-gov platforms, facilitating multilingual communication. These include the e-services portal, government websites, and the enterprise registry. This ensures that a range of citizens have access to crucial information, regardless of their native language.
        </p>
</article>

</div>
