<div id="landingPage" class="restricted">
    <div id="outer">
        <div id="inner">
            <h1>Translation tool</h1>
            <div>
                <span>What would you like to translate?</span>
            </div>
            <ul>
                <li>
                    <a tabindex="1" class="textMenuItem" href="#/text" title="Translate text">Text</a>
                </li>
                <li>
                    <a tabindex="2" class="documentMenuItem" href="#/document" title="Translate document">Document</a>
                </li>
                <li>
                    <a tabindex="3" class="websiteMenuItem" href="#/www" title="Translate website">Website</a>
                </li>
                <li>
                    <a tabindex="4" class="keyMenuItem" href="#/key" title="Settings">Enter key</a>
                </li>
            </ul>
            <p class="tilde">
                <span>Developed by <a class="red" href="http://www.tilde.com" target="_blank">Tilde</a></span>
            </p>
            <p class="contactUs">
                <a href="#about">Contact us</a>
            </p>
        </div>
    </div>
</div>