

    <h1 style="margin-top:50px;">Machine translation</h1>
    <p></p>

                <div class="featureBlock" id="featureBlock_1">
                    <h2>TERMINOLOGY INTEGRATION</h2>
                    <div class="featuresPromoted">
                        <p>Boost your system&rsquo;s accuracy with terminology integration. This ensures that terms are translated correctly and consistently.</p>
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td>Terminology integration is a key feature of Tilde&rsquo;s MT technology. Glossaries and term sets can be added to MT systems during the training process. This has been proven to boost the accuracy of a given MT system by over 30%.</td>
              
                            </tr>
                        </tbody>
                    </table>
                    <p>For users that don&rsquo;t have comprehensive term glossaries, Tilde also offers to extract terms from user documentation, using its patented TaaS (Terminology as a Service) technology. With TaaS, terms can be automatically identified and extracted from documents, creating a glossary on demand.</p>
                    <p>In addition, Tilde maintains the extensive EuroTermBank &ndash; the largest free online terminology resource. EuroTermBank contains over 2.3 million terms in 27 languages. Terms from this resource can be integrated into MT systems by users or by our MT team.</p>
                    <hr />
                </div>
                <div class="featureBlock" id="featureBlock_2">
                    <h2>DATA LIBRARY</h2>
                    <div class="featuresPromoted">
                        <p>Don&rsquo;t have enough data? No problem. We can draw from our huge multilingual Data Library to improve your MT system&rsquo;s capabilities.</p>
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <p>Tilde Data Library is one of the world&rsquo;s largest storehouses of multilingual data, with over 2.5 billion parallel sentences and 4 million terms in more than 125 languages.&nbsp;</p>
                                </td>
                              
                            </tr>
                        </tbody>
                    </table>
                    <p>Represented domains include:</p>
                    <ul>
                        <li>Pharmaceutical</li>
                        <li>IT</li>
                        <li>Legal</li>
                        <li>Finance</li>
                    </ul>
                    <p>For clients that don&rsquo;t have enough data for building a system, we can draw from this repository to boost a system&rsquo;s capabilities. For users that wish to build their own system, this repository is made available as a resource.</p>
                    <p><a class="stressed" href="http://www.tilde.com/mt/data">Read more about Tilde Data Library</a></p>
                    <hr />
                </div>
                <div class="featureBlock" id="featureBlock_3">
                    <h2>TAG PROCESSING</h2>
                    <div class="featuresPromoted">
                        <p>Translators often receive documents that include formatting tags, placeholders, and bits of code. Tilde&rsquo;s MT systems correctly deal with complex tags in CAT tools.</p>
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <p>Tag processing has traditionally been a stumbling block for MT systems, which frequently automatically translate and reformat tags, rendering them meaningless.</p>
                                </td>
                              
                            </tr>
                        </tbody>
                    </table>
                    <p>Tilde&rsquo;s MT technology can correctly identify specific tags and placeholders, for example, from websites, formatted documents, and user interfaces. This ensures that MT systems can accurately translate technical documents and HTML code &ndash; a major leap forward for application of machine translation.</p>
                    <hr />
                </div>
                <div class="featureBlock" id="featureBlock_4">
                    <h2>CAT INTEGRATED</h2>
                    <div class="featuresPromoted">
                        <p>Adding MT to your translation workflow has never been easier. Thanks to our CAT tool plug-ins, you can use Tilde MT systems in your translation environment.</p>
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <p>Professional translators rely on their CAT tools to work productivity and effectively. Machine translation can now be an integral part of your CAT environment.</p>
                    </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>Custom MT systems, ready-to-use MT systems, and MT systems built with the LetsMT platform can all be used with a CAT tool plug-in.</p>
                    <p>We currently provide plug-ins for the most popular CAT tools used by translation professionals.</p>
                    <ul>
                        <li>SDL Trados Studio</li>
                        <li>MemoQ</li>
                        <li>Memsource</li>
                    </ul>
                    <hr />
                </div>
                <div class="featureBlock" id="featureBlock_5">
                    <h2>HOSTING OPTIONS</h2>
                    <div class="featuresPromoted">
                        <p>Choose how you&rsquo;d like to host your custom MT system &ndash; either in the cloud or in your own infrastructure. We leave the decision up to you.</p>
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <p>After building a customized MT system, users can choose how they would like to host their MT system &ndash; either as a cloud service or an on-site appliance.</p>
                                </td>
                          
                            </tr>
                        </tbody>
                    </table>
                    <p>Our cloud-based services are hosted by Amazon Cloud. Cloud hosting guarantees speed and easy access. MT systems hosted in the cloud can be accessed anywhere and at any time, from a wide range of devices.</p>
                    <p>Of course, we also understand that many users want to host their IT solutions in-house. That&rsquo;s why we can also install your custom MT system directly in your internal infrastructure &ndash; either in a private cloud or in an on-site appliance. This guarantees that your data remains 100% secure.</p>
                    <hr />
                </div>
                <div class="featureBlock" id="featureBlock_6">
                    <h2>LINGUISTIC EXPERTISE</h2>
                    <div class="featuresPromoted">
                        <p>Tilde has special expertise in building MT systems for complex, highly inflected languages. We enable smaller languages in the digital age.</p>
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <p>No two languages are the same. This is what makes our world such a unique place. But in order to build MT systems for a range of language pairs &ndash; including complex languages &ndash; special linguistic expertise is required.</p>
                                </td>
                               
                            </tr>
                        </tbody>
                    </table>
                    <p>Here at Tilde, we have a wealth of experience in building MT systems for highly inflected languages. Our MT systems for the morphologically rich languages of the Baltic states &ndash; Latvian, Lithuanian, and Estonian &ndash; have proven to perform better than Google.</p>
                    <hr />
                </div>
                <div class="featureBlock" id="featureBlock_7">
                    <h2>DOCUMENT TRANSLATION</h2>
                    <div class="featuresPromoted">
                        <p>Translate entire documents with the click of a button. Simply upload or drag /drop&nbsp;a document&nbsp;and a full translation is provides in seconds. It&rsquo;s that easy.</p>
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <p>Sometimes our translation needs are limited to just a few phrases or sentences. But more often than not, users need to translate entire documents.</p>
                                </td>
                             
                            </tr>
                        </tbody>
                    </table>
                    <p>Tilde&rsquo;s MT technology provides for full document translation. Best of all, users can upload documents in several file formats, including DOCX, TXT, TMX, and XLIFF.</p>
                    <p>With our Enterprise Solution, MT users have the option to speed up translation volumes to meet their precise needs. The sky&rsquo;s the limit.&nbsp;</p>
                    <hr />
                </div>
                <div class="featureBlock" id="featureBlock_8">
                    <h2>PRESERVES FORMATTING</h2>
                    <div class="featuresPromoted">
                        <p>Formatting should never get lost in translation. Our MT systems guarantee that the formatting of your translated documents always matches the original.</p>
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <p>When translating full documents, our MT systems preserve the original formatting. This feature is highly beneficial when translating documentation such as legislative acts and legal regulations, where structural formatting (e.g., sub-paragraphs) of texts is critical.</p>
                                </td>
                               
                            </tr>
                        </tbody>
                    </table>
                    <p>The preservation of formatting is also a useful function for users translating texts with items such as headings, numbering, multilevel lists, and bulleting.</p>
                    <hr />
                </div>
                <div class="featureBlock" id="featureBlock_9">
                    <h2>LETSMT TECHNOLOGY</h2>
                    <div class="featuresPromoted">
                        <p>Tilde MT systems are powered by our&nbsp;patented LetsMT technology. LetsMT was developed by a consortium of leading language researchers from across Europe.</p>
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <p>Using LetsMT technology, custom MT systems are trained on the customer&rsquo;s own data, or with the wealth of data available in our multilingual data library. The platform also allows for the addition of translation memories (TMs), glossaries, and monolingual data &ndash; significantly boosting the quality and accuracy of translations.</p>
                                </td>
                            
                            </tr>
                        </tbody>
                    </table>
                    <p>LetsMT technology&#39;s&nbsp;features include its repository of multilingual data in different domains; correct processing of tags and placeholders, including HTML code; and the processing of many different file formats (including DOCX, TMX, TXT, XLIFF).&nbsp;</p>
                    <p>LetsMT was developed by Tilde in cooperation with leading language researchers from the University of Edinburgh, Sheffield University, the University of Copenhagen, the University of Zagreb, and Uppsala University.</p>
        
                </div>          
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>