<div id="landingPage" class="restricted">
    <div id="outer">
        <div id="inner">
            <h1>User key</h1>

            <textarea id="enterKey" placeholder="Enter key here" ng-model="clientid"></textarea>

            <div class="buttonBox">
                <a id="btnKeyOk" href="" ng-click="changeKey();" class="button">Ok</a>
                <a id="btnKeySkip" href="#/home" ng-click="skipKey();" ng-mouseleave="toolTipClass='dontShow'" ng-mouseenter="toolTipClass=''" class="button">Skip</a>
                <div class="toolTip {{toolTipClass}}">Continue with publicly available translation systems</div>
            </div>

            <p class="tilde">
                <span>Developed by <a class="red" href="http://www.tilde.com" target="_blank">Tilde</a></span>
            </p>
            <p class="contactUs">
                <span>Contact support: <a class="white" href="mailto:mt@tilde.com" target="_blank"> mt@tilde.com</a></span>
            </p>
        </div>
    </div>
</div>