<div id="landingPage" class="restricted">
    <div id="outer">
        <div id="inner">
            <h1>Enter key</h1>

            <textarea id="enterKey" placeholder="Enter key here" ng-model="clientid"></textarea>

            <div class="buttonBox">
                <a id="btnKeyOk" href="" ng-click="changeKey();" class="button">Ok</a>
                <a id="btnKeySkip" href="#/home" ng-click="skipKey();" class="button">Skip</a>
            </div>

            <p class="tilde">
                <span>Developed by <a class="red" href="http://www.tilde.com" target="_blank">Tilde</a></span>
            </p>
            <p class="contactUs">
                <a href="#about">Contact us</a>
            </p>
        </div>
    </div>
</div>