<div class="restricted">
    <h2 style ="margin-top:50px;">Enjoy our mobile Apps</h2>

    <article style="max-width:800px;">
        <p>&nbsp;</p>
        <p>Download the Translate 2015 mobile app, so you can get quick translations on the go. Translate between English and Latvian, Lithuanian, or Estonian.

</p>
        <p>&nbsp;</p>
        <p>The Translate 2015 mobile app is available for iOS, Android, and Windows Phone.</p>
        <p>&nbsp;</p>
            <p id="mobile-application-links">
               Get for <a href="https://play.google.com/store/apps/details?id=com.tilde.smtmobile">Android</a>
                <br/>
                Get for <a href="https://itunes.apple.com/us/app/vilnius-university-translator/id925258590">Iphone</a>
                <br />
                Get for <a href="http://www.windowsphone.com/en-us/store/app/vu-translator/f6883944-f169-415d-a150-f1ae3061d6b5">Windows phone</a>
            </p>        
        </article>

</div>