<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="description" content="EU Presidency Translator is an automated translation service specially designed for the 2018 Bulgarian Presidency of the Council of the European Union.">
    <meta name="keywords" content="Translate, Automated translation service, Austrian Presidency, European Union">

    <!-- Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="EU Presidency Translator | Austrian Presidency of the Council of the European Union">
    <meta property="og:url" content="https://translate2018.eu">
    <meta property="og:image" content="https://translate2018.eu/img/logo.png">
    <meta property="og:site_name" content="EU Presidency Translator">

    <!-- Microsoft -->
    <meta name="application-name" content="EU Presidency Translator" />
    <meta name="msapplication-tooltip" content="EU Presidency Translator" />
    <meta name="msapplication-starturl" content="http://translate2018.eu" />
    <meta name="msapplication-navbutton-color" content="#058dbe" />
    <meta name="msapplication-window" content="width=1024;height=768" />


    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--<link rel="stylesheet" type="text/css" href="css/index.css" />-->
    <!--text translation-->
    <!---->
    <link href="text-widget/translator.css?n=#{Build.BuildID}#" rel="stylesheet" />
    <script src="text-widget/translator.js?n=#{Build.BuildID}#"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--2018-->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/img/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/img/icons/manifest.json">
    <link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg" color="#1791ff">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/presidency.css?n=#{Build.BuildID}#" />
    <link rel="stylesheet" type="text/css" href="css/text-widget.css?n=#{Build.BuildID}#" />

    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-filter.js"></script>
    <script src="js/myTranslatorApp.js?n=#{Build.BuildID}#"></script>
    <script src="js/myPageCtrl.js?n=#{Build.BuildID}#"></script>
    <script src="js/presidency2018.js?n=#{Build.BuildID}#"></script>
    <script src="js/angular-translate.min.js"></script>

    <title>EU Council Presidency Translator</title>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-2818381-44', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body ng-app="myTranslatorApp" ng-controller="myPageCtrl" ng-message id="my_translator_app">
    <div class="contain" ng-class="{inIframe: isInIFrame()}">
        <!--MENU-->
        <div id="main_section" ng-hide="isActive('website') || isActive('www') || isInIFrame()" class="section">
            <div class="container">
                <div class="row" id="main">
                    <div class="col-sm-5 col-xs-6 no_padding_left">
                        <a href="https://www.eu2018.at/" target="_blank" title="https://www.eu2018.at/">
                            <img id="main_logo_eu2018" src="img/logo.png" alt="https://www.eu2018.at/" title="https://www.eu2018.at/" />
                        </a>
                    </div>
                    <div class="col-sm-4 col-sm-offset-3 col-xs-6 no_padding_right" id="main_menu">
                        <div class="menu_wrapper">
                            <div class="dropdown">
                                <button id="dropdown_button" class="btn btn-primary btn-block dropdown-toggle menu_text" type="button" data-toggle="dropdown">
                                    <span id="dropdown_open" translate="{{ 'MENU' | translate }}"></span>
                                    <span id="dropdown_close" translate="{{ 'MENU_CLOSE' | translate }}"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-menu-first"><a id="menu_about" href="#/about" ng-click="routeMe('/about');" translate="{{ 'MENU_ABOUT' | translate }}" title="{{ 'MENU_ABOUT' | translate }}"></a></li>
                                    <li class="dropdown-menu-last"><a id="menu_contactUs" href="#/contactUs" ng-click="routeMe('/contactUs');" translate="{{ 'MENU_CONTACT' | translate }}" title="{{ 'MENU_CONTACT' | translate }}"></a></li>
                                    <li class="dropdown-menu-last"><a id="menu_plugin" href="#/plugin" ng-click="routeMe('/plugin');" translate="{{ 'MENU_PLUGIN' | translate }}" title="{{ 'MENU_PLUGIN' | translate }}"></a></li>
                                    <!--<li class="dropdown-menu-last"><a id="menu_workshop" href="#/workshop" ng-click="routeMe('/workshop');" translate="{{ 'MENU_WORKSHOP' | translate }}" title="{{ 'MENU_WORKSHOP' | translate }}"></a></li>-->
                                </ul>
                            </div>
                            <div id="language_selection">
                                <button id="language_selection_en" class="btn lang_select menu_text" ng-class="{ active: language === languages[0] }" ng-model="language" ng-click="setLanguage(languages[0])">EN</button>
                                <button id="language_selection_de" class="btn lang_select menu_text" ng-class="{ active: language === languages[1] }" ng-model="language" ng-click="setLanguage(languages[1])">DE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--TYPE-->
        <div ng-show="(!isActive('website') && !isActive('www'))" class="section" id="translation_type_section" ng-class="{inIframe: isInIFrame()}">
            <div class="container">
                <div class="row" id="transl_types">
                    <div id="translation_types" class="col-sm-8 col-xs-12 no_padding_left no_padding_right">
                        <ul class="list-inline">
                            <li class="transl_text" ng-class="{ active: isActive('text') }">
                                <a id="translation_type_text" href="#/text" ng-click="routeMe('/text');" ng-class="{ active: isActive('text') }" title="{{ 'TEXT' | translate }}" class="transl_type"><span class="transl_type_long">{{ 'TEXT' | translate }}</span><span style="display:none" class="transl_type_short">{{ 'TEXT_SHORT' | translate }}</span></a>
                            </li>
                            <li class="hidden-xs transl_document" ng-class="{ active: isActive('document') }">
                                <a id="translation_type_doc" href="#/document" ng-class="{ active: isActive('document') }" title="{{ 'DOC' | translate }}" class="transl_type"><span class="transl_type_long">{{ 'DOC' | translate }}</span><span style="display:none" class="transl_type_short">{{ 'DOC_SHORT' | translate }}</span></a>
                            </li>
                            <li class="transl_website" ng-class="{ active: isActive('website') || isActive('www')  }">
                                <a id="translation_type_web" href="#/www" ng-click="routeMe('/www');" ng-class="{ active: isActive('website') || isActive('www')  }" title="{{ 'WEB' | translate }}" class="transl_type"><span class="transl_type_long">{{ 'WEB' | translate }}</span><span style="display:none" class="transl_type_short">{{ 'WEB_SHORT' | translate }}</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div ng-view></div>
        <!--IS A eTRANSLATION SYSTEM-->
        <div class="eTranslation" ng-class="{ active: sysType.eTranslation == true && (isActive('text') || isActive('document') || isActive('www')) }">
            <p translate="{{ 'ETRANSLATION' | translate }}"></p>
            <p class="warning">Please note: Translating with CEF eTranslation systems may take longer than usual as heavy use is reducing performance. Sorry for the inconvenience.</p>
            <span id="eTranslation_close" class="glyphicon glyphicon-remove-circle" ng-click="sysType.eTranslation = false"></span>
        </div>
    </div>


    <!--FOOTER-->
    <div ng-show="(!isActive('website') && !isActive('www'))" class="section footer">
        <div class="container">
            <div class="row" id="footer_row">
                <div class="col-sm-6 col-xs-6 no_padding_left">
                    <p class="footer_text footer_etranslation" translate="{{ 'POWERED' | translate }}">
                    </p>
                </div>
                <div class="col-sm-6 col-xs-6 no_padding_right">
                    <p class="footer_text footer_tilde" translate="{{ 'DEVELOPED' | translate }}"></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
