<div class="restricted landingBackground aboutBlock">
    <h2 style="margin:20px 50px;">About Translate 2017</h2>

    <article>
        <p>
            Translate 2017 is an automated translation service specially designed for the <a href="https://www.eu2017.ee/" target="_blank">2017 Estonian Presidency of the Council of the European Union</a>.
        </p>
        <p style="font-size:90%;">
            The service provides the world’s best automated translation systems for Estonian, built with the latest innovations in language technology. The systems can be used to translate texts, full documents, and websites.
        </p>
        <p style="font-size:90%;">
            Translate 2017 also integrates the European Commission’s <a href="https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/eTranslation" target="_blank"> CEF eTranslation platform</a>, which offers automated translation systems for translating between the 24 official languages of the EU.
        </p>
        <p style="font-size:90%;">
            The Estonian-language automated translation systems and user interface of Translate 2017 were developed by <a href="https://www.tilde.com" target="_blank">Tilde</a>, a language technology company based in Tallinn, Riga, and Vilnius.
        </p>
    </article>

</div>
