<div class="restricted landingBackground aboutBlock">
    <div class="section gray_section">
        <div class="container">
            <div class="row white_top">
                <h2 class="lang_text info_heading no_padding_left no_padding_right" translate="{{ 'MENU_ABOUT' | translate }}"></h2>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container article">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <p translate="{{ 'ABOUT1' | translate }}"></p>
                    <p translate="{{ 'ABOUT2' | translate }}"></p>
                    <p translate="{{ 'ABOUT3' | translate }}"></p>
                    <p translate="{{ 'ABOUT4' | translate }}"></p>
                    <p translate="{{ 'ABOUT5' | translate }}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="info_images">
                        <img src="{{ 'CO_FINANCED_LOGO' | translate }}" width="522" alt="{{ 'CO_FINANCED_ALT' | translate }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
