<div class="restricted mobileBackground">
    <h2 style="margin-top:50px;">Contact us</h2>

    <article style="width:40%">
        <p>
            For more information about Translate 2017, or to receive a consultation about how to use the service, please contact us at info@translate2017.eu.
        </p>
        <p> Staff translators working for the Estonian public administration can request a SDL Trados Studio plugin for Translate 2017 and receive customer support by contacting support@translate2017.eu.</p>
    </article>
</div>