<div class="restricted landingBackground aboutBlock">
    <div class="section white_section">
        <div class="container">
            <div class="row white_top">
                <h2 class="lang_text info_heading" translate="{{ 'MENU_PLUGIN' | translate }}"></h2>
            </div>
        </div>
    </div>

    <div class="section" id="plugin_section">
        <div class="container article">
            <div class="row">
                <div class="col-sm-7 col-xs-12">
                    <h3 class="page_heading" translate="{{ 'PLUGIN1' | translate }}"></h3>
                    <p class="plugin_text" translate="{{ 'PLUGIN2' | translate }}"></p>
                </div>
                    <div class="col-sm-5 col-xs-12 no_padding_right">
                        <div id="plugin_agreement">
                            <div id="plugin_check">
                                <input id="plugin_checkbox" type="checkbox" name="" ng-model="rulesAgreed"><label for="plugin_checkbox"></label>{{ 'PLUGIN3' | translate }} <a id="plugin_read_rules" ng-click="rulesVisible = !rulesVisible">({{ 'PLUGIN4' | translate }})</a><br>
                            </div>
                            <div id="plugin_rules" ng-show="rulesVisible">
                                <p>END USER LICENSE AGREEMENT FOR LETSMT! SDL TRADOS STUDIO PLUGIN</p>
                                <p>IMPORTANT: PLEASE READ CAREFULLY: THIS IS A LEGALLY BINDING CONTRACT BETWEEN YOU AND TILDE SIA ("TILDE"). BY DOWNLOADING THE SOFTWARE OR CLICKING ON "ACCEPT" BUTTON, YOU (EITHER ON BEHALF OF YOURSELF AS AN INDIVIDUAL OR ON BEHALF OF AN ENTITY AS ITS AGENT AND/OR EMPLOYEE) AGREE TO BE BOUND BY ALL OF THE TERMS OF THIS END USER LICENSE AGREEMENT ("AGREEMENT") REGARDING YOUR USE OF THE SOFTWARE. IF YOU DO NOT AGREE WITH ALL OF THE TERMS OF THIS AGREEMENT, DO NOT CLICK ON THE "ACCEPT" BUTTON NOR INSTALL, COPY OR OTHERWISE USE THE SOFTWARE.</p>
                                <p>1. DEFINITIONS</p>
                                <p>"You" means an individual and/or a legal entity exercising rights under, and complying with all of the terms of this License.</p>
                                <p>"Software" collectively means LetsMT! SDL Trados Studio Plugin including but not limited to the software executables, the documentation accompanying this License Agreement, and the plug-in which add specific additional functionality to the larger host software, where by itself it is not functional application software.</p>
                                <p>"LetsMT!" means the Machine Translation service in LetsMT! cloud to be accessed by the user of the Software.</p>
                                <p>2. LICENSE GRANT</p>
                                <p>The Software is the property of Tilde and/or its partners, and is protected by copyright law and international treaties. Following your acceptance of this License Agreement you have a non-exclusive, non-transferable right to install and use the Software in your computers running a compatible copy of SDL Trados Studio, and use it to access LetsMT! from within SDL Trados Studio.</p>
                                <p>3. LETSMT! SERVICES THROUGH SUBSCRIPTION</p>
                                <p>Once installed the Software is fully functional, but it is dependent on available LetsMT! services through subscription. Please refer to Tilde website for more information about subscription levels. Tilde reserves the right to change subscription level features, terms, conditions and prices from time to time, with or without notice.</p>
                                <p>4. SCOPE OF LICENSE</p>
                                <p>The software is licensed, not sold. This agreement only establishes your rights to use the software. Tilde reserves all other rights. Unless applicable law provides for additional rights despite this limitation, you may use the software only as expressly permitted in this agreement.  You may not:</p>
                                <ol type="a">
                                    <li>Reverse engineer, decompile, or disassemble the Software;</li>
                                    <li>Remove any proprietary notices or labels on the Software; or</li>
                                    <li>Sell, lease, rent or otherwise transfer rights to the Software, as provided by this License;</li>
                                    <li>Transfer the Software to any third persons if it is forbidden by laws or international treaties, for example, in the event that international sanctions are imposed on a country where transfer of the Software takes place.</li>
                                    <li>Use of the Software does not grant you the rights to use other Tilde products, except for the rights stipulated by the corresponding licenses to these products.</li>
                                </ol>
                                <p>5. TECHNICAL SUPPORT</p>
                                <p>Tilde undertakes to provide limited support to the users of the Software, however, time of response from the support service and resolution of any problems, which may arise during the use, installation and removal of the Software, and using of the service is not guaranteed.</p>
                                <p>6. AMENDMENT AND TERMINATION OF THE LICENSE AGREEMENT</p>
                                <p>This License Agreement is effective until terminated. Tilde has the right to terminate this license at any time if you are in breach of any of its terms and conditions. Upon notice of termination you must stop use of Software immediately. Tilde is entitled to change the terms and conditions of the distribution of the Software at any time.</p>
                                <p>You have a right to terminate the present License Agreement at any time by terminating all use of the Software and by destroying all copies of it, which are at your disposal.</p>
                                <p>7. UPDATES</p>
                                <p>From time to time, TILDE may make available updates to the Software. All updates to the Software are governed by this Agreement, unless other license terms are provided together with the update.</p>
                                <p>8. DISCLAIMER OF WARRANTY</p>
                                <p>YOU AGREE THAT TILDE HAS MADE NO EXPRESS WARRANTIES, ORAL OR WRITTEN, TO YOU REGARDING THE PRODUCTS AND THAT THE PRODUCTS ARE BEING PROVIDED TO YOU "AS IS" WITHOUT WARRANTIES OF ANY KIND. TILDE DISCLAIMS ALL WARRANTIES RELATED TO THE TRANSLATIONS AND USE OF THE SOFTWARE, WHETHER EXPRESSED, IMPLIED, OR STATUTORY, INCLUDING, BUT WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF NONINFRINGEMENT OF THIRD PARTY RIGHTS, MERCHANTABILITY, AND FITNESS FOR A PARTICULAR PURPOSE. TILDE SHALL NOT BE LIABLE FOR INDIRECT, INCIDENTAL, SPECIAL, COVER, RELIANCE, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, LOSS OF ANTICIPATED PROFIT) ARISING FROM ANY CAUSE UNDER OR RELATED TO THIS AGREEMENT.</p>
                                <p>9. LIMITATION OF LIABILITY</p>
                                <p>YOU ASSUME THE ENTIRE RISK OF USING THE SOFTWARE. IN NO EVENT SHALL TILDE BE LIABLE TO YOU FOR ANY DAMAGES, INCLUDING ANY LOST PROFITS, LOST SAVINGS, OR OTHER INCIDENTAL, INDIRECT OR CONSEQUENTIAL DAMAGES OF ANY KIND ARISING OUT OF THE USE OF THE TILDE SOFTWARE, EVEN IF TILDE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. YOU AGREE TILDE SHALL NOT BE LIABLE TO YOU FOR ANY DAMAGES. THIS LIMITATION SHALL APPLY TO CLAIMS OF PERSONAL INJURY TO THE EXTENT PERMITTED BY LAW.</p>
                                <p>10.	APPLICABLE LAW</p>
                                <p>This License Agreement shall be governed by the laws of the Republic of Latvia.</p>
                                <p>11.	MISCELLANEOUS</p>
                                <p>Severability. In the event of invalidity of any provision of this Agreement, the parties agree that such invalidity shall not affect the validity of the remaining portions of this Agreement.</p>
                                <p>Entire Agreement. You agree that this is the entire agreement between you and TILDE, which supersedes any prior agreement, whether written or oral, and all other communications between TILDE and you relating to the subject matter of this Agreement.</p>
                                <p>Reservation of rights. All rights not expressly granted in this Agreement are reserved by TILDE.</p>
                                <p>Language of the Agreement. This Agreement is executed in English and may be translated into other languages. In the event of a conflict, discrepancy or contradiction between the English version and translations, the version of the Agreement in English shall prevail for purposes of its performance, interpretation and settlement of disputes.</p>
                                <p>(c) Copyright 2018 TILDE, SIA. All rights reserved.</p>
                                <p>END USER LICENSE AGREEMENT FOR LETSMT! SDL TRADOS STUDIO PLUGIN, v.1.0, 14.06.2017.</p>
                            </div>
                            <div id="get_plugin_wrapper" ng-disabled="!rulesAgreed">
                                <button id="get_plugin" ng-disabled="!rulesAgreed" ng-click="getPlugin()">{{ 'PLUGIN5' | translate }}</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="info_images">
                        <img src="{{ 'CO_FINANCED_LOGO' | translate }}" width="522" alt="{{ 'CO_FINANCED_ALT' | translate }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>