<div class="restricted landingBackground aboutBlock">
    <div class="section white_section">
        <div class="container">
            <div class="row white_top">
                <h2 class="lang_text info_heading no_padding_left no_padding_right"  translate="{{ 'WORKSHOP_TITLE' }}"></h2>
            </div>
        </div>
    </div>

    <div class="section" id="workshop_section">
        <div class="container article">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div id="workshop_registration">
                        <h3 class="page_heading" translate="{{ 'WORKSHOP2' }}"></h3>
                        <p><a href="#/workshop" ng-click="routeMe('/workshop');" translate="{{ 'WORKSHOP6' }}"></a></p>
                        <h3 class="page_heading" translate="{{ 'WORKSHOP8' }}"></h3>
                        <iframe ng-src="{{ 'WORKSHOP9' | translate | trustAsResourceUrl }}" frameborder="0" scrolling="no" onload=""></iframe>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="info_images">
                        <img src="{{ 'CO_FINANCED_LOGO' | translate }}" width="522" alt="{{ 'CO_FINANCED_ALT' | translate }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>