<div style="height: 100%; margin: 0;">
    <div style="display: table; height: 100%; width: 100%;">
        <div style="display: table;  height: 100%;  width: 100%;" id="fileWidget"></div>
    </div>
</div>
 
<script id="translatefile-template" type="text/html">
    <div class="section gray_section">
        <div class="container">
            <div class="row white_top">
                <div class="sub_menu">
                    <!---->
                    <!--<div class="translateContainerHeader">-->
                    <!--<div class="translateHeaderLeft">-->
                    <!--<div class="translateLanguageContainer">-->
                    <div class="col-sm-2 translate_column_height col-xs-4 no_padding_left" id="source_lang_div">
                        <div data-text="sourceSystem" class="translateSourceSystemLabel"></div>
                        <select class="translateSourceLang"></select>
                        <!--<select class="translateSystem"></select>-->
                    </div>
                    <div class="col-sm-1 col-sm-offset-3 translate_column_height col-xs-1">
                        <a data-title="swapLanguage" class="swapLanguage hide"></a>
                    </div>
                    <div class="col-sm-2 translate_column_height col-xs-offset-1 col-xs-3" id="target_lang_div">
                        <div data-text="targetSystem" class="translateTargetSystemLabel"></div>
                        <select class="translateTargetLang"></select>
                    </div>
                    <div class="col-sm-2 col-sm-offset-1 translate_column_height col-xs-3" id="translate_button_div">
                        <a data-text="docDownload" class="buttonDownDoc hide"></a>
                        <a data-text="translateButton" class="translateButton hide"></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="section" id="widget_section">
        <div class="container no_padding_left no_padding_right" style="height:100%;display:table;">
            <div class="row file" style="display:table-row; height:100%;">

                

                <div class="translateContainerBody mainContent col-sm-12 col-xs-12 no_padding_left no_padding_right" style="position:relative; height:100%; display:table-cell;">
                    <div class="translateContainerLeft borderBoxSizing col-sm-6 no_padding_left no_padding_right" style="height:100%; position:relative;">
                        <div class="translate_doc_wrapper">
                            <div class="infoMessageBox error hide"></div>
                            <div class="docTranslateContent"><div class="transFileMeta hide"></div></div>
                            <div data-text="infoMessageBox docAppleLimited" class="uploadNotSupported error hide"></div>
                            <!--<a data-title="docCancel" class="buttonCancelDoc hide"></a>-->
                            <a data-title="docCancel" class="docUploadNewDoc hide"></a>
                            <!--<a data-title="docUploadNewDoc" class="docUploadNewDoc hide"></a>-->
                            <!--<a data-text="docUpload" class="docUploadNewDocument hide"></a>-->
                            <div id="docUploadFile" class="borderBoxSizing"></div>
                            <div id="docSourcePreview" class="hide"></div>
                        </div>
                    </div>
                    <div class="translateContainerRight borderBoxSizing col-sm-6 no_padding_left no_padding_right" style="position:relative;">
                        <div class="translate_doc_wrapper">
                            <div data-text="docTempTarget" class="docTempTarget"></div>
                            <div class="translateResult hide"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="verticalLine">
    </div>
</script>
