
<div style="height: 100%; margin: 0;">
    <div style="display: table; height: 100%; width: 100%;">
        <div style="display: table;  height: 100%;  width: 100%;" id="textWidget">Loading...</div>
    </div>
</div>

<script id="translatetext-template" type="text/html">
    <div class="section gray_section">
        <div class="container">
            <div class="row">
                <div class="sub_menu">                  
                    <div class="col-sm-2 translate_column_height">
                        <div data-text="sourceSystem" class="translateSourceSystemLabel"></div>
                        <select class="translateSourceLang"></select>
                        <!--<select class="translateSystem"></select>-->
                    </div>
                    <div class="col-sm-1 col-sm-offset-3 translate_column_height">
                        <a data-title="swapLanguage" class="swapLanguage hide"></a>
                    </div>
                    <div class="col-sm-2 translate_column_height">
                        <div data-text="targetSystem" class="translateTargetSystemLabel"></div>
                        <select class="translateTargetLang"></select>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1 translate_column_height" id="translate_button_div">
                        <a data-text="translateButton" class="translateButton"></a>
                    </div>

                </div>
            </div>
        </div>

        <div class="section" id="widget_section">
            <div class="container">
                <div class="row text">
                    <div class="translateContainerBody mainContent">
                        <div class="translateContainerLeft borderBoxSizing col-sm-6">

                            <div class="translateTextSourceContainer borderBoxSizing">
                                <div class="backGroundSource borderBoxSizing"></div>
                                <textarea rows="10" cols="2" maxlength="10000" id="sourceText" class="translateTextSource borderBoxSizing" spellcheck="false"></textarea>
                                <div data-text="sourceTextTooltip" class="translateTextTempSourceContainer translateTextTemp borderBoxSizing"></div>
                            </div>
                        </div>
                        <div class="translateContainerRight borderBoxSizing col-sm-6">
                            <div data-text="targetTextTooltip" class="translateTextResult borderBoxSizing"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>