
<div style="height:100%;">
    <div style="height:100%; margin: 0;">
        <div style="height: 100%;  width: 100%;" id="textWidget">
            <div class="section gray_section">
                <div class="container">
                    <div class="row white_top">
                        <div id="text_sub_menu" class="sub_menu">
                            <!---->
                            <!--<div class="translateContainerHeader">-->
                            <!--<div class="translateHeaderLeft">-->
                            <!--<div class="translateLanguageContainer">-->
                            <div id="source_lang_div" class="col-sm-3 translate_column_height col-xs-4 no_padding_left">
                                <div data-text="sourceSystem" class="translateSourceSystemLabel hidden-xs"></div>
                                <ul class="popSourceLangs"></ul>
                                <select id="text_source_lang" class="translateSourceLang hide"></select>
                                <!--<select class="translateSystem"></select>-->
                            </div>
                            <div id="swap_language_div" class="col-sm-1 col-sm-offset-2 translate_column_height col-xs-1">
                                <a data-title="swapLanguage" class="swapLanguage hide"></a>
                            </div>
                            <div id="target_lang_div" class="col-sm-3 translate_column_height col-xs-4">
                                <div data-text="targetSystem" class="translateTargetSystemLabel hidden-xs"></div>
                                <ul class="popTargetLangs"></ul>
                                <select id="text_target_lang" class="translateTargetLang hide"></select>
                            </div>
                            <div id="translate_button_div" class="col-sm-2 col-sm-offset-1 translate_column_height col-xs-3">
                                <a id="text_translate_button" data-text="translateButton" class="translateButton"></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
                    <!---->
                    <!--<div class="translateHeaderRight">
                    <div class="translateDomainContainer hide">
                        <div data-text="systemDomain" class="translateDomainLabel"></div>
                        <select class="translateDomain"></select>
                    </div>-->
                    <!--<div class="col-sm-2">
                                <div class="translateProgress hide">
                                    <div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div>
                                </div>
                            </div>

                        </div>

                    </div>-->
                    <div class="section" id="widget_section">
                        <div class="container" style="height:100%;display:table;">
                            <div class="row text" style="display:table-row; height:100%;">
                                <div class="translateContainerBody mainContent col-sm-12 col-xs-12 no_padding_left no_padding_right" style="position:relative; height:100%; display:table-cell;">
                                    <div class="translateContainerLeft borderBoxSizing col-sm-6 no_padding_left no_padding_right" style="height:100%; position:relative;">
                                        <div class="translateResultClear hide">
                                            <div data-text="clearTranslation" class="clearText"></div>
                                            <div class="clearLink"></div>
                                        </div>
                                        <div class="translateTextSourceContainer borderBoxSizing">
                                            <div class="backGroundSource borderBoxSizing"></div>
                                            <textarea rows="10" cols="2" maxlength="10000" id="sourceText" class="translateTextSource borderBoxSizing" spellcheck="false"></textarea>
                                            <div data-text="sourceTextTooltip" class="translateTextTempSourceContainer translateTextTemp borderBoxSizing"></div>
                                        </div>
                                    </div>
                                    <div class="translateContainerRight borderBoxSizing col-sm-6 no_padding_right" style="height:100%; position:relative;">
                                        <div data-text="targetTextTooltip" class="translateTextResult borderBoxSizing"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="verticalLine">
                </div>
        </div>
    </div>
</div>
