<div style="height: 100%; margin: 0;">
    <div style="display: table; height: 100%; width: 100%;">
        <div style="display: table;  height: 100%;  width: 100%;" id="fileWidget"></div>
    </div>
</div>
 
<script id="translatefile-template" type="text/html">
    <div class="section gray_section">
        <div class="container">
            <div class="row white_top">
                <div class="sub_menu">
                    <!---->
                    <!--<div class="translateContainerHeader">-->
                    <!--<div class="translateHeaderLeft">-->
                    <!--<div class="translateLanguageContainer">-->
                    <div class="col-sm-2 translate_column_height col-xs-5 no_padding_left">
                        <div data-text="sourceSystem" class="translateSourceSystemLabel"></div>
                        <select class="translateSourceLang"></select>
                        <!--<select class="translateSystem"></select>-->
                    </div>
                    <div class="col-sm-1 col-sm-offset-3 translate_column_height col-xs-2">
                        <a data-title="swapLanguage" class="swapLanguage hide"></a>
                    </div>
                    <div class="col-sm-2 translate_column_height col-xs-5">
                        <div data-text="targetSystem" class="translateTargetSystemLabel"></div>
                        <select class="translateTargetLang"></select>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1 translate_column_height hidden-xs" id="translate_button_div">
                        <a data-text="translateButton" class="translateButton"></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="section" id="widget_section">
        <div class="container no_padding_left no_padding_right" style="height:100%;display:table;">
            <div class="row file" style="display:table-row; height:100%;">

                

                <div class="translateContainerBody mainContent col-sm-12 col-xs-12 no_padding_left no_padding_right" style="position:relative; height:100%; display:table-cell;">
                    <div class="translateContainerLeft borderBoxSizing col-sm-6 no_padding_left no_padding_right" style="height:100%; position:relative;">
                        <div class="infoMessageBox error hide"></div>
                        <div data-text="docAppleLimited" class="uploadNotSupported error hide"></div>
                        <a data-text="docUpload" class="docUploadNewDocument hide"></a>
                        <div id="docUploadFile" class="borderBoxSizing"></div>
                        <div id="docSourcePreview" class="hide"></div>
                    </div>
                    <div class="translateContainerRight borderBoxSizing col-sm-6 no_padding_right" style="height:100%; position:relative;">
                        <div data-text="docTempTarget" class="docTempTarget"></div>
                        <div class="translateResult hide"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="verticalLine">
    </div>
</script>
