<div style="height:100%">
    <div style="height:100%; margin: 0;">
        <div style="height: 100%;  width: 100%;" id="textWidget">
            <div class="section white_section" id="options_section">
                <div class="container">
                    <div class="row">
                        <div id="text_sub_menu" class="sub_menu">
                            <div id="source_lang_div" class="col-sm-5 translate_column_height col-xs-5">
                                <div data-text="sourceSystem" class="translateSourceSystemLabel hidden-xs"></div>
                                <ul class="popSourceLangs"></ul>
                                <select id="text_source_lang" class="translateSourceLang hide"></select>
                            </div>
                            <div id="swap_language_div" class="col-sm-1 translate_column_height col-xs-1">
                                <a data-title="swapLanguage" class="swapLanguage hide"></a>
                            </div>
                            <div id="target_lang_div" class="col-sm-4 translate_column_height col-xs-3">
                                <div data-text="targetSystem" class="translateTargetSystemLabel hidden-xs"></div>
                                <ul class="popTargetLangs"></ul>
                                <select id="text_target_lang" class="translateTargetLang hide"></select>
                            </div>
                            <div id="translate_button_div" class="col-sm-2 translate_column_height col-xs-3">
                                <a id="text_translate_button" data-text="translateButton" class="translateButton button"></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
                    <div class="section" id="widget_section">
                        <div class="container" style="height:100%;display:table;">
                            <div class="row text" style="display:table-row; height:100%;">
                                <div class="translateContainerBody mainContent col-sm-12 col-xs-12 no_padding_left no_padding_right" style="position:relative; height:100%; display:table-cell;">
                                    <div class="translateContainerLeft borderBoxSizing col-sm-6 no_padding_left no_padding_right" style="height:100%; position:relative;">
                                        <div class="translateResultClear hide">
                                            <div data-text="clearTranslation" class="clearText"></div>
                                            <div class="clearLink"></div>
                                        </div>
                                        <div class="translateTextSourceContainer borderBoxSizing">
                                            <div class="backGroundSource borderBoxSizing"></div>
                                            <textarea rows="10" cols="2" maxlength="10000" id="sourceText" class="translateTextSource borderBoxSizing"></textarea>
                                            <div data-text="sourceTextTooltip" class="translateTextTempSourceContainer translateTextTemp borderBoxSizing"></div>
                                        </div>
                                    </div>
                                    <div class="translateContainerRight borderBoxSizing col-sm-6 no_padding_right" style="height:100%; position:relative;">
                                        <div data-text="targetTextTooltip" class="translateTextResult borderBoxSizing"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="verticalLine">
                </div>
        </div>
    </div>