<div style="height:100%;">
    <div style="height:100%; margin: 0;">
        <div style="height: 100%;  width: 100%;" id="webWidget">

            <div class="section" id="web_section">
                <div class="web_container">
                    <div class="row" id="web_menu">
                        <div id="web_logo" class="col-sm-1 hidden-xs no_padding_left">
                            <div ng-hide="isInIFrame()">
                                <a href="https://eu2018bg.bg/" target="_blank" title="https://eu2018bg.bg/">
                                    <img src="img/eu2018bg.svg" alt="eu2018bg.bg" title="eu2018bg.bg" />
                                </a>
                            </div>
                        </div>
                        <div id="web_main" class="col-sm-8 col-xs-12 no_padding_right">
                            <div id="address" class="input-group">
                                <span class="input-group-btn">
                                    <button id="web_refresh_button" type="button" class="btn btn-default web_button" title="{{ websiteHasBeenInitiated() ? ('WEB_REFRESH' | translate) : ('WEB_RETURN' | translate)}}"></button>
                                </span>
                                <input type="text"
                                       id="url"
                                       class="form-control url"
                                       placeholder="{{ 'WEB_PLACEHOLDER' | translate }}"
                                       ng-model="website.url"
                                       required focus-on="website.focus" />
                                <span class="input-group-btn input-space">
                                    <button id="web_translateButton" class="btn btn-default web_button loadButton button" data-title="loadButton" autofocus></button>
                                </span>
                            </div>
                            <div class="translateContainerHeader hide">
                                <div class="LanguageSelect w">
                                    <div class="translateLanguageContainer no_padding_left no_padding_right">
                                        <div id="web_source_lang_div" class="col-sm-5 translate_column_height col-xs-4 web_transl_types no_padding_left no_padding_right">
                                            <div data-text="sourceSystem" class="translateSourceSystemLabel hidden-xs"></div>
                                            <ul class="popSourceLangs"></ul>
                                            <select id="web_source_lang" class="translateSourceLang hide"></select>
                                            <!--<select class="translateSystem"></select>-->
                                        </div>
                                        <div id="web_swap_language_div" class="col-sm-1 translate_column_height hidden-xs web_transl_types">
                                            <a data-title="swapLanguage" id="webSwapLanguage" class="swapLanguage hide"></a>
                                        </div>
                                        <div id="web_target_lang_div" class="col-sm-4 translate_column_height col-xs-4 web_transl_types no_padding_left no_padding_right">
                                            <div data-text="targetSystem" class="translateTargetSystemLabel hidden-xs"></div>
                                            <ul class="popTargetLangs"></ul>
                                            <select id="web_target_lang" class="translateTargetLang hide"></select>
                                        </div>
                                        <div class="col-sm-2 col-xs-2 translate_column_height">
                                            <a href="javascript:;" class="translateButton button hide" data-text="translateButton" data-title="translateButton"></a>
                                            <a href="javascript:;" class="cancelButton button hide" data-text="cancelButton" data-title="cancelButton"></a>
                                            <a href="javascript:;" class="restoreButton button hide" data-text="restoreButton" data-title="restoreButton"></a>
                                            <div class="translateProgress hide"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="web_transl_types" class="col-sm-3 hidden-xs no_padding_left no_padding_right">
                            <ul>
                                <li>
                                    <a id="web_translation_type_text" ng-click="routeMe('/text');" href="#/text" ng-class="{ active: isActive('text') }" title="{{ 'TEXT' | translate }}" class="transl_text"><span class="transl_type_long">{{ 'TEXT' | translate }}</span><span style="display:none" class="transl_type_short">{{ 'TEXT_SHORT' | translate }}</span></a>
                                </li>
                                <li>
                                    <a ng-click="routeMe('/document');" href="#/document" ng-class="{ active: isActive('text') }" title="{{ 'DOC' | translate }}" class="transl_document"><span class="transl_type_long">{{ 'DOC' | translate }}</span><span style="display:none" class="transl_type_short">{{ 'DOC_SHORT' | translate }}</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="systemsLoading"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>-->
            <div id="websiteFrameContainer">
                <iframe id="websiteFrame" name="websiteFrame" src="about:blank" frameborder="0"></iframe>
            </div>

            <!--<div id="web_links_container" class="container no_padding_left no_padding_right">
                <div id="websiteLinks">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 no_padding_left no_padding_right">
                            <p id="web_links_about">{{ 'WEB_EXAMPLES' | translate }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-6 no_padding_left no_padding_right" ng-repeat="sample in web_samples">
                            <div class="sample_first_section">
                                <h1><a href="" ng-click="updateWebsite(sample.url);">{{sample.title}} <span class="glyphicon glyphicon-chevron-right"></span></a></h1>
                                <p><span ng-bind="(language === languages[1] && sample.description_ee) || (sample.description)"></span></p>
                            </div>
                            <div class="sample_second_section">
                                <a href="" ng-click="updateWebsite(sample.url);">
                                    <div style="background: {{sample.image}}" class="sample_logo"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>