<div style="height: 100%; margin: 0;">
    <div style="display: table; height: 100%; width: 100%;">
        <div style="display: table;  height: 100%;  width: 100%;" id="fileWidget">Loading...</div>
    </div>
</div>
 
<script id="translatefile-template" type="text/html">
    <div class="layoutRow file">
        <div class="layoutCell translateContainerHeader">
            <div class="translateHeaderLeft">
                <div class="translateLanguageContainer">
                    <div data-text="sourceSystem" class="translateSourceSystemLabel"></div>
                    <select class="translateSourceLang"></select>
                    <select class="translateSystem hide"></select>
                    <div data-text="targetSystem" class="translateTargetSystemLabel"></div>
                    <select class="translateTargetLang"></select>
                </div>
                <a data-title="swapLanguage" class="swapLanguage hide"></a>
                <a data-text="translateButton" class="translateButton hide"></a>
                <div class="translateProgress left hide">
                    <div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div>
                </div>
            </div>
            <div class="translateHeaderRight">
                <a data-text="docDownload" class="buttonDownDoc hide"></a>
                <a data-text="docCancel" class="buttonCancelDoc hide"></a>
                <div class="translateDomainContainer hide">
                    <div data-text="systemDomain" class="translateDomainLabel"></div>
                    <select class="translateDomain"></select>
                </div>
                <div class="docTranslateContent"><div class="transFileMeta hide"></div></div>
                <div data-text="docAppleLimited" class="uploadNotSupported error hide"></div>
                <a data-title="docUploadNewDoc" class="docUploadNewDoc hide"></a>
                <div class="uploadedDocumentName hide"></div>
            </div>
        </div>
    </div>
    <div class="layoutRow file">
        <div class="layoutCell translateContainerBody mainContent">
            <div class="translateContainerLeft borderBoxSizing">
                <div class="infoMessageBox error hide"></div>
                <a data-text="docUpload" class="docUploadNewDocument hide"></a>
                <div id="docUploadFile" class="borderBoxSizing"></div>
                <div id="docSourcePreview" class="hide"></div>
            </div>
            <div class="translateContainerRight borderBoxSizing">
                <div data-text="docTempTarget" class="docTempTarget"></div>
                <div class="translateResult hide"></div>
            </div>
        </div>
    </div>
</script>
