<div class="restricted landingBackground aboutBlock">
    <div class="section white_section">
        <div class="container">
            <div class="row white_top">
                <h2 class="lang_text info_heading no_padding_left no_padding_right"  translate="{{ 'WORKSHOP_TITLE' }}"></h2>
            </div>
        </div>
    </div>

    <div class="section" id="workshop_section">
        <div class="container article">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div id="workshop_short_info">                       
                        <span translate="{{ 'WORKSHOP1' }}" translate-compile></span>
                    </div>

                    <div id="workshop_about">
                        <h3 class="page_heading" translate="{{ 'WORKSHOP3' }}"></h3>
                        <p translate="{{ 'WORKSHOP4' }}"></p>
                        <p translate="{{ 'WORKSHOP5' }}"></p>
                        <p translate="{{ 'WORKSHOP6' }}"></p>
                    </div>
                    
                    <div id="workshop_agenda">
                        <h3 class="page_heading" translate="{{ 'WORKSHOP7' }}"></h3>

                    </div>
                        <span translate="{{ 'WORKSHOP8' }}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="info_images">
                        <img src="{{ 'CO_FINANCED_LOGO' | translate }}" width="522" alt="{{ 'CO_FINANCED_ALT' | translate }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>