<div class="restricted landingBackground aboutBlock">
    <div class="section gray_section">
        <div class="container">
            <div class="row white_top">
                <h2 class="lang_text info_heading no_padding_left no_padding_right"  translate="{{ 'MENU_WORKSHOP' | translate }}"></h2>
            </div>
        </div>
    </div>

    <div class="section" id="workshop_section">
        <div class="container article">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div id="workshop_short_info">
                        <table class="workshop_table">
                            <tr>
                                <td>What:</td>
                                <td>EU Presidency Translator workshop</td>
                            </tr>
                            <tr>
                                <td>Where:</td>
                                <td>Estonian National Library [TBC]</td>
                            </tr>
                            <tr>
                                <td>When:</td>
                                <td>August 24, 2017</td>
                            </tr>
                        </table>
                    </div>

                    <div id="workshop_about">
                        <h3 class="page_heading">About</h3>
                        <p>This workshop for EU Council Presidency translators, staff members, and Estonian public sector communications professionals will introduce the EU Presidency Translator, an automated translation service specially designed for the 2017 Estonian Presidency of the Council of the European Union.</p>
                        <p>The EU Presidency Translator is freely available to all Estonian public sector translators for the duration of the Estonian EU Council Presidency. The service provides the world’s best automated translation systems for Estonian, built with the latest innovations in language technology, and can be used to translate texts, full documents, and websites.</p>
                        <p>
                            In this workshop, organized by the Tallinn-based language technology company Tilde, translators and other communications professionals will
                            <ul>
                                <li>learn how to leverage machine translation in their work, making their daily translation tasks easier and more efficient</li>
                                <li>gain insight into the EU’s efforts to provide a pan-European machine translation infrastructure for all public administrations and citizens</li>
                                <li>acquire practical knowledge about how to boost their translation productivity with the EU Presidency Translator</li>
                            </ul>
                        </p>
                    </div>
                    
                    <div id="workshop_agenda">
                        <h3 class="page_heading">Agenda</h3>
                        <table class="workshop_table">
                            <tr>
                                <td>13:30-13:45:</td>
                                <td>Trends in machine translation technology (in English, presented by Tilde)</td>
                            </tr>
                            <tr>
                                <td>13:45-14:00:</td>
                                <td>About the EU’s automated translation platform, CEF eTranslation (in English, presented by Tilde)</td>
                            </tr>
                            <tr>
                                <td>14:00-14:15:</td>
                                <td>Introducing the EU Presidency Translator for Estonia (in Estonian, presented by Tilde)</td>
                            </tr>
                            <tr>
                                <td>14:15-15:00:</td>
                                <td>EU Presidency Translator for EU Council Presidency translators and staff – how to post-edit Estonian texts with online translation tool (in Estonian, presented by Tilde)</td>
                            </tr>
                            <tr>
                                <td>15:00-15:20:</td>
                                <td>Coffee break</td>
                            </tr>
                            <tr>
                                <td>15:20-16:00:</td>
                                <td>EU Presidency Translator for public sector translators – how to post-edit Estonian texts with the SDL Trados Studio plugin (in Estonian, presented by Tilde)</td>
                            </tr>
                        </table>
                    </div>

                    <div id="workshop_registration">
                        <h3 class="page_heading">Registration</h3>
                        <iframe src="https://www.tilde.lv/presidency-translator-workshop-registration" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="info_images">
                        <img src="../img/CEFDigital.png" width="429" height="100" alt="CEF Digital" title="CEF Digital"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>