div.fancy-select {
	position: relative;
    float: left;
}

div.fancy-select.disabled {
	opacity: 0.5;
}

div.fancy-select select:focus + div.trigger.open {
	box-shadow: none;
}

div.fancy-select div.trigger {
	cursor: pointer;
	padding: 0.3em 24px 0.3em 9px;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	color: #BF1A37;

	transition: all 240ms ease-out;
	-webkit-transition: all 240ms ease-out;
	-moz-transition: all 240ms ease-out;
	-ms-transition: all 240ms ease-out;
	-o-transition: all 240ms ease-out;
}

div.fancy-select div.trigger:after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: #BF1A37;
	top: 10px;
	right: 9px;
}

div.fancy-select div.trigger.open:after {
    border-top-color: #fff;
    border-bottom-color: #BF1A37;
	top: 4px;
}

div.fancy-select ul.options {
	list-style: none;
	margin: 0;
	position: absolute;
	top: 40px;
	left: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 50;
	max-height: 200px;
	overflow: auto;
	background: #ffffff;
	
	border: 1px solid #E3E3E3;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	min-width: 150px;
    padding-left: 0;

	transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.open {
	visibility: visible;
	top: 26px;
	opacity: 1;

	transition: opacity 300ms ease-out, top 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out;
}

div.fancy-select ul.options.overflowing {
	top: auto;
	bottom: 40px;

	transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.overflowing.open {
	top: auto;
	bottom: 50px;

	transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-o-transition: opacity 300ms ease-out, bottom 300ms ease-out;
}

div.fancy-select ul.options li {
	padding: 8px 12px;
	color: #000000;
	cursor: pointer;
	white-space: nowrap;

	transition: all 150ms ease-out;
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
}

div.fancy-select ul.options li.hover {
	color: #BF1A37;
}
* {
    outline: none;
}

.hide {
    display: none;
}

.layoutRow {
    display: table-row;
    padding: 0;
}

.layoutCell {
    display: table-cell;
    padding: 0;
}

.borderBoxSizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.translateContainerHeader * {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.translateContainerHeader.layoutCell {
    font-size: 100%;
    padding: 0.5em 0.7em 0 0.7em;
}

.translateContainerHeader .fancy-select {
    margin: 0 0.5em 1em 0;
}

.translateSourceSystemLabel, .translateTargetSystemLabel {
    color: #acb6bf;
    float: left;
}

.translateSourceSystemLabel {
    margin: 0.3em 0.8em 1em 0;
}

.translateTargetSystemLabel {
    margin: 0.3em 0 1em 0;
}

.translateLanguageContainer {
    float: left;
}

.translateLanguageContainer .fancy-select .trigger {
    min-width: 5em;
}

.translateSingleSourceLang {
    color: #BF1A37;
    margin: 0.3em 0.5em 1em 0;
    float: left;
}

.translateSourceSystemContainer {
    min-width: 21em;
    float: left;
}

.translateButton {
    padding: 0 1em;
    text-decoration: none;
    color: #FFF;
    height: 1.75em;
    line-height: 1.8em;
    border: 0;
    cursor: pointer;
    margin: 0 1em .8em 0;
    display: block;
    float: left;
    background-color: #BF1A37;
    background: linear-gradient(to bottom,#BF1A37,#BF1A37);
}

.translateButton:hover {
    background-color: #91142D;
    background: linear-gradient(to bottom,#91142D,#91142D);
}

.translateDomainLabel {
    color: #acb6bf;
    margin: 0.3em 0.5em 1em 0;
    float: left;
}

@media screen and (max-width:29em) {
    .translateDomainContainer {
        float: left;
    }
}

@media screen and (min-width:29em) {
    .translateDomainContainer {
        float: right;
    }
}

.translateDomainContainer div.fancy-select ul.options {
    left: calc(100% - 12em);
    left: -webkit-calc(100% - 12em);
}

.translateDomainContainer .fancy-select .trigger {
    min-width: 3em;
}

.backGroundSource {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    margin: 0;
    padding: 0;
    white-space: normal;
    color: #FFF;
    overflow: hidden;
}

/*#region Loading*/

.translateProgress {
    text-align: center;
    background-image: none;
    margin: 0.2em 1.5em 0 0;
    height: 2.5em;
}

.translateProgress > div{
    width: 18px;
    height: 18px;
    background-color: #AC1413;
    margin-left: 5px;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.translateProgress .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.translateProgress .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0);
        transform: scale(0.0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

/*#endregion*/
.mainContent {
    padding: 0.7em 0.7em 1.5em 0.7em;
    height: 100%;
}

.translateTextResult.translateTextTemp, .translateTextTempSourceContainer.translateTextTemp {
    color: #5d5d5d;
    padding-right: 0.7em;
    padding-left: 0.7em;
}

.translateTextResult {
    overflow: auto;
    color: #000;
}

.translateTextResult, .backGroundSource {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.classMTsource, .translateTextTemp, .translateTextResult .mt-translation {
    padding-right: 0.7em;
    padding-left: 0.7em;
}

.classMTsource {
    padding-right: .98em;
}

.translateResultClear {
    position: absolute;
    float: right;
    cursor: pointer;
    border-radius: 2em;
    vertical-align: middle;
    background-image: url(../translatetext/img/cross.svg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #DC8F9F;
    top: 0.8em;
    bottom: inherit;
    right: 1.0em;
    padding: 0.7em 0.438em 0.438em 0.7em;
    z-index: 5;
}

.translateResultClear:hover {
    background-color: #B91F3E;
}

.translateContainerLeft,  .translateContainerRight {
    border: 0.065em solid #e3e3e3;
    float: left;
    height: 100%;
    min-height: 3em;
    width: 49%;
    width: -webkit-calc(50% - .344em);
    width: calc(50% - .344em);
}

.translateContainerLeft  {
    margin-right: 0.2em;
}

.translateContainerRight  {
    background-color: #FAFAFA;
    margin-left: 0.344em;
    overflow: auto;
}

@media screen and (max-width:29em) {
    .translateContainerLeft {
        width: 100%;
        height: 50%;
        height: -webkit-calc(50% - .344em);
        height: calc(50% - .344em);
        margin-right: 0;
        margin-bottom: .344em;
    }

    .translateContainerRight {
        width: 100%;
        height: 50%;
        height: -webkit-calc(50% - .344em);
        height: calc(50% - .344em);
        margin-left: 0;
        margin-top: .344em;
     }
}

.translateTextSource, .translateTextTempSourceContainer {
    position: absolute;
    z-index: 2;
    margin: 0;
    resize: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0.7em;
    font-family: inherit;
    font-size: 1em;
}

.translateTextSource {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    padding-right: 2em;
}

.translateTextSourceContainer  {
    position: relative;
    width: 100%;
    height: 100%;
}

.hoverStyleSource {
    background-color: #e0efff;
    color: #e0efff;
}

.mt-translation[translationProgress] {
    color: silver;
}

.mt-translation[latestHighlight] {
    background-color: #ffffc9;
}

.classMTsource[latestHighlight] {
    background-color: #ffffc9;
    color: #ffffc9;
}

.mt-translation[ishover] {
    background-color: #e0efff;
}

.hoverStyleResult {
    background-color: #e0efff;
}

p.mt-translation {
    color: #000;
    padding: 0;
    margin: 0;
}

.classMTsource {
    overflow: hidden;
    white-space: normal;
}
