<div id="landingPage" class="restricted">
    <div id="outer">
        <div id="inner">
            <h1>Vikipēdijas tulkotājs</h1>
            <div>
                <span>Izvēlies, ko tulkot</span>
            </div>
            <ul class="clearfix">
                <li class="large">
                    <a tabindex="1" class="websiteMenuItem" href="#/webpage" title="Vikipēdija">Vikipēdija</a>
                </li>
                <li>
                    <a tabindex="2" class="textMenuItem" href="#/text" title="Tulkot tekstu">Teksts</a>
                </li>
                <li>
                    <a tabindex="3" class="documentMenuItem" href="#/document" title="Tulkot dokumentu">Dokuments</a>
                </li>
            </ul>
            <p class="tilde">
                <span>Izstrādāja <a class="red" href="http://www.tilde.com" target="_blank">Tilde</a></span>
            </p>
            <p class="contactUs">
                <span>Atbalsts: <a class="white" href="mailto:mt@tilde.com" target="_blank"> mt@tilde.com</a></span>
            </p>
        </div>
    </div>
</div>