
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    margin: 0;
}

 html { font-size: 16px;  }

html, body {height: 100%; }

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;          /* prevent copy paste, to allow, change 'none' to 'text' */       
    padding:0px;
    width:100%;   
    font-family: Segoe UI,Arial,Helvetica,sans-serif;    
    height:100%;
}
a{
    text-decoration:none;
   color:#374357;
}
a:hover{
    text-decoration:none;
}

h1 {
    font-size:1.5rem;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}


.vertical{    
  height:100%;
    float:left; 
}


body{
  min-height:500px;
}
#header
{
    width:160px;
    background-position:15px 15px;    
    background-color:#273347;
    background-image:url("../img/logo_large.svg");
    background-repeat:no-repeat; 
    background-size: 80px;  
}

/*logo*/
 #logoSection{ 
   height:20%;
   min-height:100px; 
   cursor:pointer;
 }
 
 .ng-scope{
     height:inherit;
 }
/*menu*/
nav{
    margin-top:5%;
   height:30%;
   min-height:190px;   
}
.textMenuItem:hover, .textMenuItem:focus, .textMenuItem.active{ background-image: url("../img/text_letsmt-active.svg");}
.documentMenuItem:hover, .documentMenuItem:focus, .documentMenuItem.active{background-image: url("../img/doc_letsmt-active.svg");}
.websiteMenuItem:hover,.websiteMenuItem:focus,  .websiteMenuItem.active{background-image: url("../img/web_letsmt-active.svg");}
a.textMenuItem{background-image: url("../img/text_letsmt.svg");  }
a.documentMenuItem{ background-image: url("../img/doc_letsmt.svg");background-position-x:15px; }
a.websiteMenuItem{ background-image: url("../img/web_letsmt.svg"); }

nav a{
        color:#7b8ea0;
    text-decoration:none;  
    vertical-align:middle;
    display:table-cell; 
    background-repeat:no-repeat; 
    background-position: 10px center;   
    padding: 15px 10px 15px 60px;      
    display:block;
}
nav a:hover,nav a:focus{
    background-color:#161F2E;
}
nav a:hover, nav a.active,nav a:focus{
    color:white;   
}

a:focus{ 
    text-decoration:dashed;  
  text-decoration-color:#c6cacf;
  text-decoration-style:dashed;
}

/*promo links*/
#promoSection
{
    border-top:solid 1px #c6cacf;
    padding:2px 10px 2px 15px;
    line-height:150%;
}
#promoSection a{    
    display:block;
    margin-top:20px;
    color:white;
    font-size:0.8rem;
    background-position:center right;
    background-image:url("../img/arrowWhite.png");
    background-repeat:no-repeat; 
}

/*site footer*/
.footer{    
   height:80px; 
   color:#6f8193;
   position:absolute;
   bottom:0px;
   width:140px;
   padding-left:15px;
}
.hugo{   
    background-image:url("../img/hugo.png");
    background-repeat:no-repeat;
    background-position:left top;  
    padding-top:15px;
}
.red{
    color:#e4332a;
}
.tilde{
    position:absolute;
    color:#c6cacf;
    right:20px;
    bottom:20px;
    font-weight:bold;
    z-index:-1;
}

@-moz-keyframes blinker{0%{opacity:1}50%{opacity:0}100%{opacity:1}}@-webkit-keyframes blinker{0%{opacity:1}50%{opacity:0}100%{opacity:1}}@keyframes blinker{0%{opacity:1}50%{opacity:0}100%{opacity:1}}
 .blinker{
    background-color: #244b9f;
    -moz-animation: blinker 1s steps(1,start) infinite;
    -webkit-animation: blinker 1s steps(1,start) infinite;
    animation: blinker 1s steps(1,start) infinite;
 }


 /*navigation*/
.restricted{
    padding:10px;
}

.vertical#container{
    position:fixed;   
    left:160px;
    top:0px;
    bottom:0px;
    right:0px;
}

#landingPage
{    
    background-position:4% 4%, 85% bottom;  
    background-image:url("../img/logo_large.svg"), url("../img/landing.png");
    background-repeat:no-repeat; 
    background-size: 120px, cover;     
    position:fixed;
    width:100%;
    height:100%;
    background-color:#273347; 
    z-index:9999;
    left:0px;
    padding:0;
    margin:0;
}
.landingBackground, .mobileBackground
{
       
    background-repeat:no-repeat; 
    background-size:auto;  
    background-color:white;
    z-index:0;
    padding:30px 0 30px 50px; 
}
.landingBackground
{ 
    background-position:bottom right;  
background-image:url("../img/landingWhite.png");
}

.mobileBackground
{
  background-image:url("../img/mobile.png");
  background-position: right 80px;      
}

#outer
{   padding-left:4%;
    position:relative; 
    top:30%;
}
#outer::before {
    display: block;
    content: "";
    width: 100%;
    height: 10%;
    top:30%;
}
#outer::after {
    display: block;
    content: "";
    width: 100%;
    height: 10%;
    top:30%;
}

#inner {
    width: 60%;
    height: 80%;     
    display:block;
}

#landingPage h1{
    color:white;
    font-size:3em;
    text-align:left;
  
    padding-bottom:5%;
}

#landingPage #inner div
{
    color:white;
}

#landingPage #inner ul{
    list-style:none;
    padding-left:0px;
    padding-top:30px;
}
.multiple{
    display:none;
}
#landingPage #inner li{

    background-image:url("../img/arrowWhite.png");
    background-repeat:no-repeat;
    background-position: 90% center;    
   display:block;
   float:left;   
   margin-right:20px;
   min-width:12%;
   background-color:#161F2E; 
   padding:0px 10px 0px 10px;
   width:160px;  
   margin-top:10px;
   margin-bottom:10px;
}

#landingPage #inner li>a{  
   background-position:left center;
   background-repeat:no-repeat; 
   color:white;
   padding:10px 30px 10px 40px;
   display:block;  
}

#landingPage a.red{
     color:#DF332B;
     display:inline;
 }

#landingPage p{   
    bottom:10px;
    color:#c6cacf;
    font-size:0.8rem;
    position:fixed;
 }

#landingPage .hugo{
    background-position: left center;
    padding-left: 15px;
    padding-top:0px;
}

#landingPage p a
 {padding:0px;}

#landingPage .tilde{
      font-weight:normal;
      right:46%;
  }
 /*website form*/
 form button{
     border-radius:0px;
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    padding: 6px 15px;     
    background-color:#273347;
    border-color:#273347; 
    border-style:solid;
    cursor:pointer;
    color:white;   
    font-size:0.9rem;
    margin-left:-5px;
   
}
form input[type='text']{
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-color:#c6cacf;
    border-style:solid;
    border-width:thin;
    padding: 8px 15px;     
    color:#c6cacf;
    width:55%;
}

 /*Language form*/
.LanguageSelect, #address
{
    padding-top:0px;
    color:#ACB6BF;  
   
}
.LanguageSelect
{   margin:10px 20px 10px 40px;  
    float:left;  
    font-size:0.9rem; 
}
#address
{  
    margin:10px 0; 
    float:right;
    width:60%;
}

div.language{
    display:block;
    float:left;
    margin:5px 10px 10px 0px;   
}
div.language>span.ng-binding
{
    margin-left:6px;
}
.language ul{
    display:none;
    position:absolute;
    z-index: 9999;
    height: auto;
    padding: 0;
    padding-left: 10px;
    margin: 0px 0 0 20px;
    border-radius: 2px;
    background-color: #273347;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100px;
    border:solid 1px #273347;
    border-radius:4px;
    cursor:pointer;
}

#target.language ul
{
    margin-left:0px;
}
.language li {
    background-color:white;  
    padding:10px;
    margin:0;
    list-style:none;
}

.language li a{
    padding:0 3px;
    color:#273347;
}
.language li a:hover{
    background-color:#c6cacf;
}

.language>span{
    color:white;
    cursor:pointer;
    background-color:#273347;
    cursor: pointer;    
    padding: 0 2em 0.3em 0.7em;
    margin-right: 0.1em;
    white-space: nowrap;
    overflow: hidden;   
    border-radius:12px;
    background-position:right center;    
    background-color:#273347;
    background-image:url("../img/arrowWhiteDown.png");
    background-repeat:no-repeat;
  
}
.language>span:empty{
        display:none;
}

#websiteFrameContainer
{
    position:fixed; 
    top:55px;  
    bottom:0px;
    right:0;
    left:160px;
    background-color:white;  
}
#websiteFrame {
    width:100%;
    height:100%;
}

  .infoMessage{
      padding:5px;
      border-radius:3px;
      position:fixed; 
      top:57px; 
      right:20px;
      color:#273347;
      background-color:white;
      border:#ac1413 thin solid;
      width:200px;
  }
  .infoMessage  button{  
    background-color:#ac1413;
    border-color:#ac1413;
    border-style:solid;
    border-radius:4px;
    cursor:pointer;
    color:white;   
}


.bigText, #websiteLinks{  
    margin-left:28px;
    margin-top:2em;
}

.bigText input{
   
   color: #c6cacf;
    height: 90px;
    padding: 10px 16px;
    font-size: 3rem;
    border-radius: 0;
    border: none;
    box-shadow: none;
    font-size: 47px;
}
.bigText input:focus{
    color:#273347;
    padding-left:29px;
}
@-moz-keyframes blinker{0%{opacity:1}50%{opacity:0}100%{opacity:1}}@-webkit-keyframes blinker{0%{opacity:1}50%{opacity:0}100%{opacity:1}}@keyframes blinker{0%{opacity:1}50%{opacity:0}100%{opacity:1}}
 .cursor {   
    width: 5px;
    height: 4em;
    margin: 0.5em .5em 0 0;
    position: relative;
    top: 14px;
    float: left;   
}

 .blinker{
    background-color: #273347;
    -moz-animation: blinker 1s steps(1,start) infinite;
    -webkit-animation: blinker 1s steps(1,start) infinite;
    animation: blinker 1s steps(1,start) infinite;
 }
 .hidden{
     display:none;
 }
 #websiteLinks>div{
     color:#c6cacf;
     margin-bottom:20px;
     margin-top:10%;
 }
  #websiteLinks>ul{
     list-style:none;
     padding:0px;
  }
  #websiteLinks > ul span,#websiteLinks > ul li{
      display:block;
  }
    #websiteLinks > ul li {  
    float:left;
    width:25%;  
    margin: 10px 30px 10px 0;
      color:#273347;
    }
    #websiteLinks > ul li:nth-child(4n+4) {  
        clear:both;
    }
    
  #websiteLinks>ul li a, a.stressed{    
    font-weight:bold;
    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
    color:#273347;
  }

 
