body{
    height:100%;
}
.contain {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -38px;
    /*margin-bottom: -50px;*/
}

.contain:after {
    content: "";
    display: block;
}

.footer, .contain:after {
    height: 38px;
}


.verticalLine {
    display: none;
    position: absolute;
    top: 63px;
    bottom: 0px;
    left: 50%;
    border-left: 1px solid #7FAE96
}

@media (min-width: 768px) {
    .verticalLine {
        display: block;
    }
}

.inIframe .verticalLine {
    top: 94px;
}
