<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear/>
        <rule name="HTTPS rewrite behind AWS ELB" enabled="true" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_X_FORWARDED_PROTO}" pattern="^http$" ignoreCase="false"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{URL}" redirectType="Found"/>
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="https://eu2018bg.bg/"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>