
.translateTextResult {
    overflow: auto;
    color: #000;
    position: absolute;
    width:100%;
    height:100%;
    padding: 15px 35px 15px 19px;
}

.mt-translation[translationProgress] {
    color: Silver;
}

.mt-translation.latestHighlight {
    background-color: #FFFFC9;
}

.classMTsource.latestHighlight {
    background-color: #FFFFC9;
    color: #FFFFC9;
}

.translateResultClear {
    z-index: 5;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em 0.438em 0.438em 1em;
    margin: 0 0 0 0;
    border:0;
}

.translateResultClear>div {
    background-color: #AC1413;
    background: linear-gradient(to bottom, #B71616, #9E1212);
    padding: 0.125em;
}

.translateResultClear>div>div {
    width: .813em;
    height: .813em;
    vertical-align: middle;
    background-image: url('images/cross.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.translateResultClear:hover>div {
    background-color: #B71616;
    background: linear-gradient(to bottom, #C41717, #AC1413);
}

.translateTextSourceContainer {
    position: relative;
    width: 100%;
    height: 100%;
    -ms-touch-action: none;
    overflow:hidden;
}

.translateTextSource,
.translateTextTempSourceContainer {
    position: absolute;
    z-index: 2;
    margin: 0;
    resize: none;
    background-color: transparent;
    border: 0;
    padding: 15px 35px 15px 19px;
    width:100%;
    height:100%;
}

.translateTextSource {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

.backGroundSource {
    position: absolute;
    z-index: 0;
    margin: 0;
    border:0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 15px 35px 15px 19px;
    white-space: pre-wrap;
    color: transparent;
    overflow:hidden;
}

.backGroundSource .classMTsource {
    white-space: pre-wrap;
    overflow: hidden;
}

p.mt-translation {
    color: #000;
}

.translateTextTemp {
    color: #5D5D5D;
}

.translateTextResult h2 {
    margin-top: 0;
}

.translateTextSource p,
.translateTextResult .mt-translation {
    margin: 0;
    padding: 0;
}

.translateTextResult,
.backGroundSource {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.translateTextResult .title {
    margin-bottom: 0.2em;
    color: #842B2B;
    font-weight: bold;
}

.sentence.hover {
    background-color: #e8e8e8;
}

.translateTextResult .sentence {
    cursor:pointer;
}

.phrase.hover {
    background-color: #c8c8c8;
}

.phrase.hover:only-child {
    background-color: #e8e8e8;
}

.word.hover {
    background-color: #b0b0b0;
}

.highlight-sibling {
    background-color: #c8c8c8;
}

.sentence.selected {
    background-color: #D6EBFF;
}

.editButtonContainer {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding: 3px 7px 15px 19px;
    vertical-align:bottom;
    font-size:0.9em;
}

.editButtonContainer:not(.hide) + .translateTextResult{
    bottom:3.3em;
    top:0;
    left:0;
    right:0;
    height:auto;
}
.editButton:hover {
    text-decoration:none !important;
}

#translationEditForm {
    padding: 2em;
    position: absolute;
    min-height: 10em;
    width: 34em;
    left: 40%;
    left: calc(50% - 19em);
    top: 40%;
    top: calc(50% - 10em);
    border: 0.065em solid #c5c5c5;
    background-color: white;
    z-index: 6;
}

#translationEditForm #translationEditButtons {
    text-align: center;
    margin-top: 1.5em;
    
}

#translationEditForm #translationEditButtons a{
    margin:0 0.5em 0 0.5em;
}

#translationEditForm label {
    display:block;
    font-weight:bold;
    margin-bottom:0.5em;
    font-size:15px;
}

#translationEditForm p {
    margin-bottom:1.5em;
    margin-top:0;
    font-size:15px;
}

#translationEditForm textarea {
    width:100%;
    resize:none;
    font-size:15px;
    font-family:inherit;
}

#translationEditForm .button{
    padding:0 15px 0 15px;
}

#translationEditForm .translateProgress {
    margin-left:auto;
    margin-right:auto;
    float:none;
    display:inline-block;
    margin-top:1.5em;
}

#translationEditClose {
    width:1.2em;
    height:1.2em;
    background-image: url('images/remove.svg');
    background-size:contain;
    background-repeat:no-repeat;
    position:absolute;
    top:0.97em;
    right:0.97em;
}

#translationEditDescription {
    margin-top:1.5em;
    color:#666666;
}

#translationEditBackground {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 5;
}


.translateTextSource:lang(ar), .backGroundSource:lang(ar), .translateTextResult:not(.translateTextTemp):lang(ar),
.translateTextSource:lang(fa), .backGroundSource:lang(fa), .translateTextResult:not(.translateTextTemp):lang(fa),
.translateTextSource:lang(ur), .backGroundSource:lang(ur), .translateTextResult:not(.translateTextTemp):lang(ur),
.translateTextSource:lang(he), .backGroundSource:lang(he), .translateTextResult:not(.translateTextTemp):lang(he),
.translateTextSource:lang(yi), .backGroundSource:lang(yi), .translateTextResult:not(.translateTextTemp):lang(yi) {
    direction:rtl;
}


.dictionarySource {
    font-size: 1.2em;
}


.dictionaryWordType, .dictionaryExamplesTitle {
    color: #666666;
    margin: 2em 0 0.5em 0;
    font-style: italic;
}

.dictionaryTranslation {
    margin: 0 0 0.5em 0;
}

.dictionaryTranslationTable td {
    vertical-align: top;
}


.dictionaryTranslationTable {
    width: 100%;
}

.dictionaryTranslationProbabilityCell {
    width: 1%;
    padding-right: 0.5em;
}

.dictionaryTranslationCell {
    width: 1%;
    padding-right: 1em;
}

.dictionaryTranslationReverseCell {
    width: 98%;
}

.dictionaryTranslationReverse {
    /*color: #808080;*/
    font-size: 92%;
    text-decoration: none;
}

    .dictionaryTranslationReverse:hover {
        text-decoration: underline;
    }

.dictionaryExamplePair + .dictionaryExamplePair {
    margin-top: 2em;
}

.dictionaryExample {
    margin: 0 0 0.5em 0;
}

    .dictionaryExample strong {
        color: #474747;
    }


.dictionaryTranslationTranslation + .dictionaryTranslationReverse {
    margin-left: 0.5em;
}

.dictionaryTranslationTranslation {
    /*min-width:6em;
    display:inline-block;
    */
    text-decoration: none;
}

    .dictionaryTranslationTranslation:hover {
        text-decoration: underline;
    }

.dictionaryTranslationProbabilityContainer {
    width: 1em;
    height: 0.5em;
    margin-top: 0.25em;
    display: block;
    border: solid 1px #aeaeae;
    border-radius: 0.2em;
}

.dictionaryTranslationProbability {
    background-color: #666666;
    height: 0.5em;
    display: block;
}

.dictionaryTranslationCell {
    white-space: nowrap;
}